/* ==========================================================================
   #POMODORO APP STYLES
   ========================================================================== */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: hsl(223, 25%, 40%);
  --shortBreak: hsl(48, 23%, 40%);
  --longBreak: hsl(105, 16%, 40%);
}

body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
}

progress::-webkit-progress-bar {
 background-color: rgba(0, 0, 0, 0.1);;
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  padding: 20px;
  text-align: center;
}

.clock {
  margin-top: 27px;
  margin-bottom: 15px;
  font-size: 10rem;
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
  justify-content: center;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: #fff;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: #fff;
}

.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: hsl(175, 26%, 41%);
  font-weight: bold;
  width: 200px;
  background-color: white;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}

/* 
*
*
TODO-SECTION
https://www.youtube.com/watch?v=Ttf3CEsEwMQ
*
*
*/
form{
  min-height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input, form button{
  padding: 6px;
  font-size: 1.4rem;
  border: none;
  background-color: white;
}
form input{
  border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
}
form button{
  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
}
form button{
  color: rgb(93, 154, 179);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  background-color: rgb(93, 154, 179);
  color: #fff;
}
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list{
  min-width: 30%;
  list-style: none;
}
.todo{
  margin: 0.5rem;
  background-color: #fff;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li{
  flex: 1;
}
.trash-btn, .complete-btn{
  background-color: #f12e14;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn{
  background-color: rgb(59, 163, 59);
}
.todo-item{
  padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
  pointer-events: none;
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}
.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
/* select */
.select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select{
  color: rgb(57, 73, 102);
  width: 10rem;
  height: 2.6rem;
  cursor: pointer;
  padding: 7px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border: none;
  outline: none;
}
.select::after{
  content: "\25BC";
  position: absolute;
  background-color: rgb(53, 57, 102);
  right: 0;
  top: 0px;
  pointer-events: none;
  padding: 1rem 1rem 1.3rem 1rem ;
  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
}
.select:hover::after{
  background-color: rgb(165, 162, 197);
  color: rgb(82, 67, 109);
  padding: 1rem 1rem 1.3rem 1rem ;
  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
}

@media only screen and (max-width: 600px) {
  form {
    flex-direction: column
  }
  .todo-input{
    width: 230px;
    margin-bottom: 12px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
  }
  .todo-button{
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
  }
}
